<!--breadcrumb-->
<div class="modal fade" id="exampleScrollableModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Tipo de Cliente</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
					<label class="form-check-label" for="flexRadioDefault1">Persona Física</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
					<label class="form-check-label" for="flexRadioDefault2">Persona Moral</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary">Aceptar</button>
			</div>
		</div>
	</div>
</div>
<!-- MODAL ERRORES-->
<div class="modal fade" *ngIf="mostrarModal == true" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Errores</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">{{msg.Mensaje}}</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--Si es persona física-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">Nuevo Crédito Individual	</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Mantenimiento de Clientes</li>
			</ol>
		</nav>
	</div>
</div>
<!--end breadcrumb-->
<div class="row">
	<div class="col-xl-12 mx-auto">
		<h6 class="mb-0 text-uppercase">Mantenimiento de Clientes</h6>
		<hr/>
		<div class="card">
			<div class="card-body">
				<div id="smartwizard">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#pre-registro">	<strong>Captura de datos</strong> 
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#generales">	<strong>Generales</strong> 
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#direcciones">	<strong>Direcciones</strong> 
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step-6">	<strong>Identificaciones</strong> 
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="pre-registro" class="tab-pane" role="tabpanel" aria-labelledby="pre-registro">
							<h3>Captura de datos</h3>
							<form class="row g-3 needs-validation" novalidate [formGroup]="formPost" (ngSubmit)="Form()">
							<div class="col-md-6">
								<input class="form-control mb-3" type="text" placeholder="Número de Cliente" aria-label="Disabled input example" disabled readonly [(ngModel)]="ente.Num_Ente" [ngModelOptions]="{standalone: true}">
							</div>
							<div class="col-md-6"></div>
							<label for="validationDefault01" class="form-label">Nombres</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="ente.Nom_Ente1" formControlName="NOM1_ENTE" required> 
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="ente.Nom_Ente2" formControlName="NOM2_ENTE" required> 
							</div>
							<div class="col-md-6">
								<label for="validationDefault01" class="form-label">Apellido Paterno</label>
								<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="ente.Ape_Ente1" formControlName="APE1_ENTE" required> 
							</div>
							<div class="col-md-6">
								<label for="validationDefault01" class="form-label">Apellido Materno</label>
								<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="ente.Ape_Ente2" formControlName="APE2_ENTE" required> 
							</div>
							<div class="col-md-4">
								<label class="form-label">Fecha de Nacimiento:</label>
								<input type="date" class="form-control" [(ngModel)]="ente.Fec_Na2" formControlName="FEC_NAC" required>
							</div>
							<div class="col-md-4">
								<label class="form-label">Género</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<select formNameControl="TIP_SEX" [ngModel]="TipSexSelect" (ngModelChange)="CambioSexGen($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
									<option [ngValue]="Gen" *ngFor ="let Gen of ente.SexGen.SexGenArray">{{Gen.Des_TipSex}}</option>
									<!--<option value="1">Mujer</option>
										<option value="2">Hombre</option>-->
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<label class="form-label">Nacionalidad (Pueden ser hasta 5)</label>
								<div class="input-group mb-3">
									<select class="multiple-select" data-placeholder="Choose anything" multiple formNameControl="DES_NAC" [ngModel]="PaisSelect" (onSelect)="CambioPais($event)" name="sel1" [ngModelOptions]="{standalone: true}">
									<option [ngValue]="pais" (onChange)="Prueba($event)" *ngFor ="let pais of ente.Pais.Paises">{{pais.Des_Nac}}</option>
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<label class="form-label">Nacionalidad (Pueden ser hasta 5)</label>
								<div class="input-group mb-3">
									<mat-select multiple class="form-control" placeholder="Ingresa">
										<mat-option (onSelectionChange)="PaisSelec($event)" *ngFor="let pais of ente.Pais.Paises" [value]="pais" disabled = "{{pais.DisableSelect}}">
										{{ pais.Des_Nac }}
										</mat-option>
									</mat-select>
								</div>
							</div>
							<!--	
								<div class="col-md-4">
									<label class="form-label">Nacionalidad</label>
									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupSelect01">Opción</label>
										<select formNameControl="DES_NAC" [ngModel]="PaisSelect" (ngModelChange)="CambioPais($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
											<option [ngValue]="pais" *ngFor ="let pais of ente.Pais.Paises">{{pais.Des_Nac}}</option>
											<option value="1">Norteamericana</option>
											<option value="2">FGR_PAIS</option>
										</select>
									</div>
								</div>
								-->
							<div class="col-md-4">
								<label class="form-label">Lugar de Nacimiento</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<select formNameControl="DES_LUGNA" [ngModel]="LugnaSelect" (ngModelChange)="CambioLugna($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
									<option [ngValue]="lug" *ngFor ="let lug of ente.Lugna.Lugnas">{{lug.Des_Lugna}}</option>
									<!--<option value="1">AQUÍ OTRA</option>
										<option value="2">ETC</option>-->
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<label for="validationDefault01" class="form-label">RFC</label>
								<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="ente.RFC" formControlName="RFC" required> 
							</div>
							<div class="col-md-4">
								<label for="validationDefault01" class="form-label">CURP</label>
								<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="ente.CURP" formControlName="CURP" required> 
							</div>
							<div class="col-md-4">
								<label class="form-label">Sucursal</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<select formNameControl="DES_SUCUR" [ngModel]="SucurSelect" (ngModelChange)="CambioSucur($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
									<option [ngValue]="suc" *ngFor ="let suc of ente.Sucur.Sucurs">{{suc.Des_Sucur}}</option>
									<!--<option value="1">VERACRUZ</option>
										<option value="2">ECATEPUNK</option>-->
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<label class="form-label">Tipo de Cliente</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<select formNameControl="DES_TIPCL" [ngModel]="ClienSelect" (ngModelChange)="CambioCl($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
									<option [ngValue]="cl" *ngFor ="let cl of ente.TipCl.TipCls">{{cl.Des_TipCl}}</option>
									<!--<option value="1">Persona física</option>
										<option value="2">Persona Moral</option>
										<option value="3">ETC</option>-->
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<button type="submit" class="btn btn-light px-5">Guardar datos</button>
							</div>
							</form>
						</div>
						<!--
							<div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
								<h3></h3>
								<div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
									<h3></h3>	
								</div>
							</div>
							-->	
						<div id="generales" class="tab-pane" role="tabpanel" aria-labelledby="generales">
							<h3>Información General del Cliente</h3>
							<form class="row g-3 needs-validation" novalidate [formGroup]="formPost2" (ngSubmit)="Form2()">
							<div class="col-md-4">
								<label class="form-label">Estado civil</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<select formNameControl="EDO_CIV" [ngModel]="EdoCivSelect" (ngModelChange)="CambioEdoCi($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
									<option [ngValue]="ci" *ngFor ="let ci of ente.EdoCi.EdoCivs">{{ci.Tip_EdoCi}}</option>
									<!--<option value="1">Casado</option>
										<option value="2">ETC</option>-->
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<label class="form-label">Número de dependientes</label>
								<input type="number" class="form-control" placeholder="0" [(ngModel)]="ente.NumDependientes" formControlName="NUM_DECLI" required>
							</div>
							<div class="col-md-4">
								<label class="form-label">Nivel de estudios</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<select formNameControl="NIV_ES" [ngModel]="NivesSelect" (ngModelChange)="CambioNives($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
									<option [ngValue]="niv" *ngFor ="let niv of ente.Nives.Estus">{{niv.Des_Nives}}</option>
									<!--<option value="1">Primaria</option>
										<option value="2">Secundaria</option>-->
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<label class="form-label">Correo electrónico</label>
								<input type="text" class="form-control" placeholder="correo@dominio.com" [(ngModel)]="ente.Email" formControlName="EMAIL" required>
							</div>
							<div class="col-md-4">
								<label class="form-label">Teléfono particular</label>
								<input type="text" class="form-control" placeholder="55" [(ngModel)]="ente.Tel_1" formControlName="TEL1" required>
							</div>
							<div class="col-md-4">
								<label class="form-label">Teléfono celular</label>
								<input type="text" class="form-control" placeholder="55" [(ngModel)]="ente.Tel_2" formControlName="TEL2" required>
							</div>
							<div class="col-md-4">
								<label class="form-label">Teléfono de negocio</label>
								<input type="text" class="form-control" placeholder="55" [(ngModel)]="ente.Tel_3" formControlName="TEL3" required>
							</div>
							</form>
							<br>
							<br>
							<h3>Información Económica</h3>
							<form class="row g-3 needs-validation" novalidate [formGroup]="formPost2" (ngSubmit)="Form2()">
							<div class="col-md-4">
								<label class="form-label">Nivel de Ingreso</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<select formNameControl="NIV_ING" [ngModel]="IngSelect" (ngModelChange)="CambioIng($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
									<option [ngValue]="ing" *ngFor ="let ing of ente.Ingr.Ingres">{{ing.Des_Nivel}}</option>
									<!--<option value="1">Primaria</option>
										<option value="2">Secundaria</option>-->
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<label class="form-label">Fec. Inicio Act. Económica:</label>
								<input type="date" class="form-control" [(ngModel)]="ente.Fec_Inicio" formControlName="FEC_INICIO" required>
							</div>
							<div class="col-md-4">
								<label class="form-label">Grupo Económico</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<mat-select multiple class="form-control" placeholder="Ingresa">
										<mat-option (onSelectionChange)="GrusoSelec($event)" *ngFor="let gpo of ente.Gruso.Grusos" [value]="gpo">
										{{ gpo.Des_Gruso }}
										</mat-option>
									</mat-select>
									<!--
										<select formNameControl="GPO_ECO" [ngModel]="GrusoSelect" (ngModelChange)="CambioGruso($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
											<option [ngValue]="gpo" *ngFor ="let gpo of ente.Gruso.Grusos">{{gpo.Des_Gruso}}</option>
											<option value="1">Primaria</option>
											<option value="2">Secundaria</option>
										</select>
										-->
								</div>
							</div>
							<!--
								<div class="col-md-4">
									<label class="form-label">Actividad Económica Finafin</label>
									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupSelect01">Opción</label>
										<select class="form-select" id="inputGroupSelect01">
											<option selected>1</option>
											<option value="1">dos</option>
											<option value="2">tres</option>
										</select>
									</div>
								</div>
								-->
							<div class="col-md-4">
								<label class="form-label">Actividad Económica CNByV</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<select formNameControl="CNB" [ngModel]="AegenSelect" (ngModelChange)="CambioCNB($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
									<option [ngValue]="aeg" *ngFor ="let aeg of ente.Aegen.Aegens">{{aeg.Des_Aegen}}</option>
									<!--<option value="1">Primaria</option>
										<option value="2">Secundaria</option>-->
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<button type="submit" class="btn btn-light px-5">Guardar datos</button>
							</div>
							</form>	
							<br>
							<br>
							<hr>
							<h3>Conocimiento del Cliente</h3>
							<form class="row g-3 needs-validation" novalidate [formGroup]="formPost2" (ngSubmit)="Form2()">
							<div class="col-md-4">
								<label class="form-label">Se identifica como:</label>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">Proveedor de Recursos</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">Propietario Real</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">Cuenta de tercero</label>
								</div>
							</div>
							<div class="col-md-4">
								<label class="form-label">Promotor indica:</label>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">Poco solvente</label>
								</div>
								<br>
								<label class="form-label">Otros datos:</label>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">Capacidades diferentes</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">Activo</label>
								</div>
							</div>
							<div class="col-md-4">
								<label class="form-label">Rol en Hogar</label>
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupSelect01">Opción</label>
									<select class="form-select" id="inputGroupSelect01">
										<option selected>1</option>
										<option value="1">dos</option>
										<option value="2">tres</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<button type="submit" class="btn btn-light px-5">Guardar datos</button>
							</div>
							</form>
						</div>
						<div id="direcciones" class="tab-pane" role="tabpanel" aria-labelledby="direcciones">
							<h3>Direcciones</h3>
							<form class="row g-3" novalidate [formGroup]="formPost3" (ngSubmit)="Form3()">
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Código Postal</label>
									<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="direc.Cve_CP" formControlName="CP" required> 
								</div>
								<div class="col-md-4">
									<label class="form-label">País</label>
									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupSelect01">Opción</label>
										<select formNameControl="CVE_PAIS" [ngModel]="PaisSelect" (ngModelChange)="CambioPais($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
											<option *ngFor="let pais of direc.Pais.Paises" [ngValue]="pais">{{pais.Des_Nac}}</option>
											
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<label class="form-label">Estado</label>
									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupSelect01">Opción</label>
										<select formNameControl="CVE_ESTDO" [ngModel]="EstadoSelect" (ngModelChange)="CambioEstado($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
											<option *ngFor="let edo of direc.Estado.Estados" [ngValue]="edo">{{edo.Nom_Estdo}}</option>
											
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<label class="form-label">Municipio</label>
									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupSelect01">Opción</label>
										<select formNameControl="CVE_MUNIC" [ngModel]="MunicSelect" (ngModelChange)="CambioMunicipio($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
											<option *ngFor="let munic of direc.Municipio.Municipios" [ngValue]="munic">{{munic.Nom_Munic}}</option>
											
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<label class="form-label">Localidad</label>
									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupSelect01">Opción</label>
										<select formNameControl="LOCALIDAD" [ngModel]="LocalidadSelect" (ngModelChange)="CambioLocalidad($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
											<option *ngFor="let loca of direc.Localidad.Localidades" [ngValue]="loca">{{loca.Nom_Local}}</option>
											
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<label class="form-label">Localidad CNByV</label>
									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupSelect01">Opción</label>
										<select formNameControl="LOCALCNB" [ngModel]="LocalCNBSelect" (ngModelChange)="CambioLocalidadCNB($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
											<option *ngFor="let locacnb of direc.LocalCNB.FLDLocalis" [ngValue]="locacnb">{{locacnb.Des_LoPLD}}</option>
											
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Ciudad</label>
									<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="direc.Des_Ciuda" formControlName="CIUDAD" required> 
								</div>
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Colonia</label>
									<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="direc.Nom_Colon" formControlName="COLONIA" required> 
								</div>
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Calle</label>
									<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="direc.Des_Calle" formControlName="CALLE" required> 
								</div>
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Número exterior</label>
									<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="direc.Num_Ext" formControlName="NUM_EXT" required> 
								</div>
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Número interior</label>
									<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="direc.Num_Int" formControlName="NUM_INT" required> 
								</div>
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Apartado Postal</label>
									<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="direc.Num_Appos" formControlName="APPOS" required> 
								</div>
								<div class="col-md-4">
									<label class="form-label">Vivienda</label>
									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupSelect01">Opción</label>
										<select formNameControl="VIVIENDA" [ngModel]="ViviendaSelect" (ngModelChange)="CambioVivienda($event)" name="sel1" [ngModelOptions]="{standalone: true}" class="form-select" id="inputGroupSelect01" required>
											<option *ngFor="let vivi of direc.Vivienda.Tidoms" [ngValue]="vivi">{{vivi.Des_Tidom}}</option>
											
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Años de residencia</label>
									<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="direc.Num_Resen" formControlName="AÑRES" required> 
								</div>
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Referencia entre calles</label>
									<input type="text" class="form-control" id="validationDefault01" [(ngModel)]="direc.Num_Cpent" formControlName="REFERENCIAS" required> 
								</div>
								<div class="col-md-4">
									<label for="validationDefault01" class="form-label">Coordenadas</label>
									<input type="text" class="form-control" id="validationDefault01" placeholder="lat" readonly> 
									<input type="text" class="form-control" id="validationDefault01" placeholder="long" readonly> 
								</div>
								<div class="col-sm-4">
									<button type="submit" class="btn btn-light px-5">Agregar Dirección</button>
								</div>
							</form>
							<hr>
							<div class="card radius-10">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<h5 class="mb-0">Direcciones</h5>
										</div>
										<div class="font-22 ms-auto"><i class="bx bx-dots-horizontal-rounded"></i>
										</div>
									</div>
									<hr>
									<div class="table-responsive">
										<table class="table align-middle mb-0">
											<thead class="table-light">
												<tr>
													<th>No</th>
													<th>Tipo de Vivienda</th>
													<th>Dirección</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Casa</td>
													<td>Villa de las Flores Coacalco</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br />
				<p>
					<!-- <label>Theme:</label>
						<select id="theme_selector">
							<option value="default">Default</option>
							<option value="arrows">Arrows</option>
							<option value="dots" selected>Dots</option>
							<option value="dark">Dark</option>
						</select>&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" id="is_justified" value="1" checked />
						<label for="is_justified">Justified</label>&nbsp;&nbsp;&nbsp;&nbsp;
						<label>Animation:</label>
						<select id="animation">
							<option value="none">None</option>
							<option value="fade">Fade</option>
							<option value="slide-horizontal" selected>Slide Horizontal</option>
							<option value="slide-vertical">Slide Vertical</option>
							<option value="slide-swing">Slide Swing</option>
						</select>&nbsp;&nbsp;&nbsp;&nbsp;
						<label>Go To:</label>
						<select id="got_to_step">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>&nbsp;&nbsp;&nbsp;&nbsp;
						<label>External Buttons:</label>-->
					<button class="btn btn-secondary" id="prev-btn" type="button">Anterior</button>
					<button class="btn btn-secondary" id="next-btn" type="button">Siguiente</button>
					<!--<button class="btn btn-danger" id="reset-btn" type="button">Reset Wizard</button>-->
				</p>
				<br />
			</div>
		</div>
	</div>
</div>
<!--Si es persona moral
	AQUÍ VA LA OTRA SECCIÓN QUE SE DEBE DE ACTIVAR SI EN EL MODAL DA PERSONA MORAL-->