//**** ESTILOS GENERALES*****************//
.was-validated .form-control:valid,
.form-control.is-valid {
  background-repeat: no-repeat;
  background-position: right;
}

.tab-content {
  height: auto !important;
}

.row span,
.form-control {
  color: white !important;
}

section {
  width: 100%;
}

.bx-search {
  cursor: pointer;
}

label {
  display: inline-block;
}

.modal-box {
  top: 0;
  left: 42px;
  width: 100%;
  z-index: 300;
  position: absolute;
  background-color: black;

  input,
  option {
    color: white;

    &::placeholder {
      color: white;
    }
  }

  .box {
    height: 200px;
    overflow-y: scroll;

  }
}

//**** PESTAÑA GENERALES*****************//
.box {
  height: 260px;
}

@media(min-width: 992px) {

  .box {
    justify-content: center !important;
  }

}

legend {
  text-align: right;
}

button[type="submit"] {
  width: 100%;
}

//**** PESTAÑA IDENTIFICACIONES*****************//
.file-select {
  cursor: pointer;
  position: relative;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: 'Seleccionar';
    display: flex;
    color: white;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);

    /* texto por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }

}

textarea {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}