//**** ESTILOS GENERALES*****************//
.was-validated .form-control:valid,
.form-control.is-valid {
  background-repeat: no-repeat;
  background-position: right;
}

.tab-content {
  height: auto !important;
}

.row span,
.form-control {
  color: white !important;
}

.view {
  position: relative;
}

.aviso {
  bottom: 0;
  width: 100%;
  padding: 15px;
  z-index: 2000;
  min-height: 170px;
  position: absolute;
  background: rgb(203, 203, 203);
  background: linear-gradient(355deg, rgba(203, 203, 203, 1) 0%, rgba(170, 180, 180, 1) 100%);
}

//**** PESTAÑA GENERALES*****************//
.box {
  height: 260px;
}

legend {
  text-align: right;
}

//**** PESTAÑA IDENTIFICACIONES*****************//
.file-select {
  cursor: pointer;
  position: relative;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: 'Seleccionar';
    display: flex;
    color: white;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);

    /* texto por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }

}

textarea {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}